#WelcomePageVector
{
    width: 65%;
    position: absolute;
    background-color: #3DB39E;
    top:0;
    left:0;
    height: 100%;
    z-index: 5;

}
#WelcomePageVector img
{
    width: 100%;
    margin-left: 7%;
    margin-top: 3%;

}
